body
{
	left:  0;
	margin:  0;
	position:  relative;
}

/*removes underline from all anchors; overrides other rules*/
a
{
	text-decoration:  none !important;
}

h1
{
	color:  #428bca;
}

li
{
	display:  inline;
	
	padding-left:  22px;
	
	font-size:  18px;
}

.container
{
	width:  100%;
}

/*the links to social media at the bottom of the page*/
#social
{
	text-align: center;
}

/*the social media links*/
div > div > div > ul > li
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
