/*itended to remove padding for header links*/
ul
{
	padding-left: 0;
}

.jumbotron
{
	background-color:  black;
	padding: 0;
}

/*centers all text in the page*/
.container
{
	text-align: center;
}

#banner
{
	width: 100%;
	height:  100%;
}

/*Positions the date of the tournament*/
#date
{	
	color: white;
	
	width: 100%;
	margin-top: -1em;
	margin-bottom: 2em;
}

.row
{
	margin-bottom: 1em;
}

/*resizes tournament images to fit in grid*/
#tournaments img
{
	max-width: 100%;
	max-height: 100%;
}

/*Formats the event schedule*/
#schedule table
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	
	text-align: left;
	font-size: 150%;
}

.name
{
	padding-left: 1em;
}

#floorplan
{
	width: 75%;
	height: 75%;
}
