.block li
{
	display: block;
	width: 100%;
}

/*Glyphicons can be found here:  https://glyphicons.com/*/
/*code block taken from https://jsfiddle.net/wp67vxau/1/*/
.inner li:before
{
	/*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #000000;
}

.signup
{
	text-align: center;
}
