<div class="nav">
	<div class="container">
		<ul class=>
			<li><a href="https://www.facebook.com/VandyLANOfficial?fref=ts">Facebook</a></li>
			<li><a href="http://vandylan.challonge.com/">Challonge</a></li>
		</ul>
	</div>
</div>