<ul class="pull-right">
	<li><a href="/VandyLAN/index.html">Home</a></li>
	<li><a href="/VandyLAN/about.html">About</a></li>
	<li><a href="/VandyLAN/rules&signup.html">Rules &amp; Sign Ups</a></li>
	<li><a href="/VandyLAN/forms.html">Forms</a></li>
</ul>